body { 
    background-color: aliceblue;
    text-align: center;
    max-width: 1300px;
    margin: auto;
    font-family: 'Girassol', cursive;
}

ul {     
    list-style-type: none;
    
}

li { 
    display: inline; 
    margin: 10px;
}

img { 
    size: 100%;
}

img.pedra, img.papel,  img.tesoura, input { 
    cursor: pointer;
}

h1 { 
    margin-bottom: -7px;
    font-size: 60px;
    
}
h2 { 
    font-size: small;
    margin-top: -10px;
}

h1:hover, h2:hover { 
    color: #fff;
}

h4 { 
    margin-top: -10px;
    
}

div#imagens { 
    display: inline; 
}

img#humanoFoto, img#maquinaFoto { 
    margin: 5px;
}

#button {
    border: 1px solid aliceblue;;
    padding: 13px;
    background:lightblue;
    cursor: pointer;
    border-radius: 1em;
}

      
#button:hover {
    background: rgb(18, 171, 223);
    border: 1px solid black;
}